body {
  background-color: #1F2023;
  margin: 200px;
  padding: 200px;
}

.contenedor {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

h1 {
   color: #E8EAED;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  border-top: 10px solid  #4D6D63;
  border-bottom: 10px solid  #4D6D63;
  border-left: 10px solid #1F2023;
  border-right: 10px solid #1F2023;
  padding: 20px;
}

legend {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-variant: small-caps;
  background-color: #4D6D63;
  color: white;
  padding: 20px 40px;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: left;
}

fieldset {
  background-color: #A6C1B9;
  border: none;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 60px;
}

form {
  text-align: center;
}

.campo {
  margin: 0 auto;
  text-align: center;
}

.sexo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

footer {
  margin-top: 70px;
  text-align: center;
  padding-bottom: 90px;
}

a.enlace:link {
  font-family: "Poppins", sans-serif;
  color: white;
  background: #2B3D37;
  font-size: 24px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 400;
  justify-content: center;
  padding: 30px;
  margin-top: 30px;
  border-radius: 4px;
  text-decoration: none;
}

a.enlace:visited {
  color: white;
}

a.enlace:hover {
  background: #A6C1B9;
}

footer button {
  margin: 30px;
}
.campo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.campo label {
  text-align: center;
}
.acepto{
  margin-top: 20px;
  color: white;
}
.boton{
  background-color: #4D6D63;
  margin: 20px;
  bottom: 20px;
  padding: 20px;
  color: white;
}
.campo1{
  text-align: left;
  margin: 8px;
  bottom: 8px;
  padding: 8px;
}
.cuadro{
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  padding-left: 80px;
  padding-right: 80px;
}
.tex{
  background-color: #4D6D63;
}
.container {
  text-align: center; 
  margin-top: 50px;
}

.circle {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: #4D6D63;
  margin: 0 5px; 
}

